<h1 class="text-center">
  <%= current_user.name %>'s Students 
</h1>
<ul>
  <% current_user.students.each do |s| %>
    <ul>
      <%= link_to s.name, student_path(s) %>
    </ul>
  <% end %>
<div>
  <%= button_to "Create New Student", new_student_path, method: :get, class: "btn btn-info"%>
</div>
<br>
<%= button_to "back ot dashboard", teacher_path(current_user.id), method: :get %>
</ul>
