<div class="jumbotron text-center">
  <h1>Studio Manager Home Page</h1>
  <p>Get ready to learn yur kids some musac!</p>
  <a href="#" class="btn btn-info" role="button">Teacher Sign Up</a>
  <a href="#" class="btn btn-info" role="button">Student Sign Up</a>
</div>
