<div class="jumbotron text-center">
  <h1>Studio Manager Home</h1>
  <p>Get ready to make lesson planning a breeze!</p>
  <% if logged_in? %>
  <% else %>
    <%= button_to "Teacher Signup", signup_path, method: :get, class: "btn btn-info"%>
  <% end %>
</div>
