<div class="jumbotron text-center">
  <h1>Studio Manager</h1>
  <p>Get ready to make lesson planning a breeze!</p>
  <% if logged_in? %>
  <% else %>
    <%= link_to "Guest Login", login_path(email: "guest.teacher@mail.com",
                                          password: "fakepassword"),
                                          class: "button_guest" %>
  <% end %>
</div>
