<h1 class="text-center">
  <%= current_user.name %>'s Studio 
</h1>
<div class="container">
  <div class="row">
    <ul class="nav col-md-3 sidebar">
      <li class="nav-item">
        <%= link_to "Edit Profile", edit_teacher_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Manage Students", students_path %>
      </li>
      <li class="nav-item">
        <%= link_to "New Lesson Plan" %>
      </li>
    </ul>
    <div class="col-md-9">
      <h3> Recent Lessons </h3>
    </div>
  </div>
</div>

