@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}


input {
  height: auto !important;
}

/* error messages */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* buttons */

.btn_short {
  width: 150px; 
}

.edit-delete {
  float: right;
}

.new_student_button {
  float: right;
  padding-right: 3%;
}

.button {
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: bold;
  color: black;
  background-color: #fff;
  border: 1px solid #a5b1bd;
  border-radius: 0.25em;
  text-align: center;
  text-decoration: none;
  width: 200px;
  cursor: pointer;
}

.button_guest {
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: rgb(75, 126, 213);
  border: 1px solid #a5b1bd;
  border-radius: 0.25em;
  text-align: center;
  text-decoration: none;
  width: 150px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #034b97;
  background-color: rgb(237, 232, 232);
  border-color: black;
  text-decoration: none;
}

.button:active {
  background-color: #005cbf;
  border-color: #005cbf;
}

/* student display */

.student-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.student_list_container {
  display: flex;
  flex-direction: row;
  background-color: #e3e6e9;
  padding-top: 3%;
}

.student_list_name {
  font-size: large;
}

/* lesson plan display */

.lesson_plan_list {
  display: flex;
  flex-direction: column;
}

.lesson_plans_container {
  display: flex;
  flex-direction: row;
  background-color: #e3e6e9;
  padding-top: 3%;
  padding-right: 3%;
  padding-left: 3%;
}

.lesson_show_container_parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.lesson_show_container {
  width: 30%;
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
  padding-right: 3%;
  background-color: #e3e6e9;
}





/* miscellaneous */

// .footer {
  //   margin-right: 2%;
  // }
  
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}
  
  /*
  * This is a manifest file that'll be compiled into application.css, which will include all the files
  * listed below.
  *
  * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
  * vendor/assets/stylesheets directory can be referenced here using a relative path.
  *
  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
  * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
