<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href=/>StudioManager</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href=/>Home</a></li>
      <li><a href=/help>Help</a></li>
      <% if logged_in? %>
        <li><%= link_to "Dashboard", teacher_path(current_user) %></li>
        <li><%= link_to "Log Out", logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Guest Login", login_path(email: "guest.teacher@mail.com", password: "fakepassword") %></li>
      <% end %>
    </ul>
  </div>
</nav>