<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href=/>StudMan</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Teacher Log in</a></li>
      <li><a href="#">Student Log in</a></li>
      <li><a href=/about>About</a></li>
      <li><a href=/help>Help</a></li>
      <%# <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Link 3
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Link 3-1</a></li>
          <li><a href="#">Link 3-2</a></li>
          <li><a href="#">Link 3-3</a></li>
        </ul>
      </li> %>
    </ul>
  </div>
</nav>